{% block mainContent %}
    <article>
        <h2>{ title }</h2>
        <img src="{{ img }}" alt="Picture of Sindre Njøsen" title="Picture of Sindre Njøsen">
       {{ content }}
    </article>
{% endblock %}