{% extends 'SwebBlogBundle:Default:layout.html.twig' %}
{% block main_content %}
    <article class="front">
        <h2>{{ main_content_title }}</h2>
        <p>
            {{ content }}
        </p>
    </article>
{% endblock %}

